
<section>

    <div class="content spacing-2  px-4">
        <div class="mt-1">
            <h1 class="text-center text-2xl font-semibold my-6">About First Born ECDC</h1>
            <div class="mainImg text-center m-2">
                <img src="/assets/IMG-20190909-WA0004.jpg" alt="Image of the firstborn ecdc school"
                    class="">
            </div>
            <div class="leading-7">
                <p><strong><i>First Born Early Childhood Development Centre</i></strong> is an outreach
                    programme of the First Born Sanctify Church of God. We seek to educate children, benefitting
                    the New Nursery and Fisheries community for the past year.
                    We welcome all children in the local community from every background. We believe that
                    "<i>Every child can learn and every child must learn</i>”.
                    As educators of the First Born Early Childhood Development Centre we seek to discover new
                    and innovative ways of reaching all the children who are placed in our care.
                    We place great emphasis on facilitating and supporting children’s learning and skill
                    building in a safe and nurturing environment where all children can learn.
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <h3 class="text-lg font-semibold my-2">Our Mission</h3>
                <p>To provide our students with quality education for a fuller life; by positively impacting the
                    growth and development of our students, from ages three to six years.</p>
            </div>

            <div>
                <h3 class="text-lg font-semibold my-2">Our Vision</h3>
                <p>To be one of the most, efficient and effective school in the Early Childhood Sector;
                    Providing and supporting students with the requisite skills, knowledge and attitude, in a
                    safe and nurturing environment that will enable them to be productive citizens.</p>
            </div>
            <div>
                <h3 class="text-lg font-semibold my-2">Our Motto</h3>
                <p>“AIM FOR EXCELLENCE”.</p>
            </div>
        </div>
    </div>
</section>
<section class="board mx-4">
    <div class="content spacing-2 flex flex-col gap-6">
        <header>
            <h2 class="text-center text-2xl font-bold text-purple-800 mt-5">Meet our staff</h2>
        </header>

        <article class="board__member">

            <main class="mt-2">
                <img src="/assets/teacher1.jpg" alt="staff member image">
                <div>
                    <div class="member__info mt-4">
                        <h3 class="font-bold text-lg">Tiffany Brisset</h3>
                        <p>Principal</p>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ea delectus suscipit
                        ullam, numquam ipsam nesciunt ab unde sequi fugit ipsa corporis necessitatibus placeat
                        consequuntur omnis architecto molestiae beatae dolor fuga, dolorem excepturi eveniet
                        pariatur modi! Inventore debitis a voluptate corrupti placeat, quidem ut quia delectus
                        aut est. Numquam, cumque.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi officiis esse eum rerum
                        excepturi animi consequatur. Itaque tenetur eos quisquam reprehenderit mollitia sequi
                        debitis. Ad adipisci, et, a optio repudiandae reiciendis fugiat aspernatur dolores
                        voluptatum illum culpa. Omnis, possimus? Dolorem excepturi enim laborum laudantium quasi
                        deleniti quia atque at nesciunt?</p>
                </div>


            </main>
        </article>
        <article class="board__member">

            <main class="mt-2">
                <img src="/assets/teacher3.jpg" alt="staff member image">
                <div>
                    <div class="member__info mt-4">
                        <h3 class="font-bold text-lg">Diana Pearson</h3>
                        <p>Teacher</p>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ea delectus suscipit
                        ullam, numquam ipsam nesciunt ab unde sequi fugit ipsa corporis necessitatibus placeat
                        consequuntur omnis architecto molestiae beatae dolor fuga, dolorem excepturi eveniet
                        pariatur modi! Inventore debitis a voluptate corrupti placeat, quidem ut quia delectus
                        aut est. Numquam, cumque.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi officiis esse eum rerum
                        excepturi animi consequatur. Itaque tenetur eos quisquam reprehenderit mollitia sequi
                        debitis. Ad adipisci, et, a optio repudiandae reiciendis fugiat aspernatur dolores
                        voluptatum illum culpa. Omnis, possimus? Dolorem excepturi enim laborum laudantium quasi
                        deleniti quia atque at nesciunt?</p>
                </div>


            </main>
        </article>
        <article class="board__member">

            <main class="mt-2">
                <img src="/assets/teacher2.jpg" alt="staff member image">
                <div>
                    <div class="member__info mt-4">
                        <h3  class="font-bold text-lg">Peter Griffin</h3>
                        <p>Chairman</p>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ea delectus suscipit
                        ullam, numquam ipsam nesciunt ab unde sequi fugit ipsa corporis necessitatibus placeat
                        consequuntur omnis architecto molestiae beatae dolor fuga, dolorem excepturi eveniet
                        pariatur modi! Inventore debitis a voluptate corrupti placeat, quidem ut quia delectus
                        aut est. Numquam, cumque.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi officiis esse eum rerum
                        excepturi animi consequatur. Itaque tenetur eos quisquam reprehenderit mollitia sequi
                        debitis. Ad adipisci, et, a optio repudiandae reiciendis fugiat aspernatur dolores
                        voluptatum illum culpa. Omnis, possimus? Dolorem excepturi enim laborum laudantium quasi
                        deleniti quia atque at nesciunt?</p>
                </div>


            </main>
        </article>

    </div>
</section>

