/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contained-1440{
    max-width: 1240px;
    margin: auto;
}

.btn{
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(211, 211, 211, 0.223);
    border-radius: 20px;
    border: none;
}

.btn:disabled,.btn:disabled:hover{
    color:rgb(189, 189, 189);
    background-color: rgba(211, 211, 211, 0.3);
}

.btn--primary{
    color: white;
    transition: 300ms background-color ease-in;
    @apply bg-purple-600 hover:bg-purple-800
}

.btn--primary:hover{

}
html, body { height: 100%; }
body { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
