<%-include("_header");%>
    
    <main class="container">
        <div class="row">
            <div class="col-md">
                
            </div>
        </div>

        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Address</th>
                <th scope="col">Parent</th>
              </tr>
            </thead>
        </table>

    </main>


<%-include("_footer");%>