<%-include("_header");%>
<main class="container">
    <section class="content faq spacing-2">
        <h1 class="text-center">Frequently Asked Questions.</h1>
        <div class="">
            <h2>Why choose First Born Early ChildHood Development Centre?</h2>
            <p>
                We view education as a path towards success. We aim to be a guide towards that path, allowing each and every child under our car to have equal opportunity in being the best version of themselves so as to serve our country. 
            </p>
        </div>
        <div class="">
            <h2>What age children do you cater for?</h2>
            <p class="">
                Our students age varies alot compared to other institutions. We start taking in Students from the age of two(2), but prohibits registration of students that are older than five(5). 
            </p>
        </div>
        <div class="">
            <h2>What are the documents needed for registration?</h2>
            <p class="">
                We require that all the medical forms be filled out and all other documents displayed here.
            </p>
        </div>
        <div class="">
            <h2>What measures are in place to make sure my child/ward is safe?</h2>
            <p class="">
                Since the announcement of the Covid virus, we have been working diligently with the ministry to ensure that our facility is up to the standards set. We have enlarged our compound to provide more space for children to be socially distant, as well as provide many washing areas to have children wash thier hands as frequently as possible.
            </p>
        </div>

    </section>
</main> 

<%-include("_footer");%>