<%- include ("_header")%>
    <main class="container">
        <section class="">
            <div class="content spacing-2">
                <h1 class="text-center">Student Handbook</h1>
                
                <p class="bold">The following guidelines by the staff
                for the effective running of our School.</p>
                <ol>
                    <li class="mt-1" ><p><strong>PUNCTUALITY</strong></p>
                        <p>School begins at 8:30 a.m. and dismisses at 
                            2:00 p.m. No child will be allowed to leave 
                            the School during School hours without 
                            permission from the Principal
                            </p>
                        <ul>
                            <li>All students are expected to be on time</li>
                            <li>All students must be collected by the 
                                latest 3:00 p.m.  
                                </li>
                        </ul>
                    </li>
                    <li class="mt-1"><p><strong>LUNCH</strong></p>
                        <p>Cooked lunch is provided at a cost of 
                            $700.00 weekly.  Children may bring their 
                            own lunch.  
                            </p>
                        <p><strong>Bubblegum is not allowed in School</strong></p>
                    </li>
                    <li class="mt-1"><p><strong>UNIFORM</strong></p>
                        <p><strong>Boys:</strong> Khaki pants, and purple bush Jacket shirt piped with small purple and white checker on sleeve and pocket with crest, black shoes, black socks.</p>
                        <p><strong>Girls:</strong> purple tunic piped with small purple and white checker on sleeve, pocket with crest, black shoes, purple socks</p>
                        <p><strong>Crest and P.E. Uniform:</strong>available at the school</p>
                        <p><strong>Hair styles:</strong>Hair of both boys and girls must be properly combed.  <strong>No</strong> bangles or rings.</p>


                    </li>
                    <li class="mt-1"><p><strong>VISIT</strong></p>
                        <p>All parents and visitors must report to the Principal before proceeding to the class.  All persons visiting the School should be properly attired, No merino, cutters in the hair, short skirts or shorts, halter back blouse or dress.</p>

                    </li>
                    <li class="mt-1"><p><strong>DEVOTION</strong></p>
                        <p>
                            All children are expected to take part in devotion except for religious reasons.  In that case, a letter <strong>MUST</strong> be sent to the Principal.
                        </p>
                    </li>
                    <li class="mt-1"><p><strong>ILLNESS</strong></p>
                        <p>All forms of illness should be reported to the School immediately.
                            Whenever a child is absent from School, 
                            the teacher should be informed of the reason
                                for absence, preferably in writing.
                            </p>
                    </li>
                    <li class="mt-1"><p><strong>INDECIPLINE</strong></p>
                        <ul>
                            <li><p>Consistent indiscipline by individual students 
                                will be brought to the attention of the Principal and 
                                then to the parents. If the behaviour persists, 
                                the board will be called in. 
                                </p>
                            </li>
                            <li>
                                <p>No cutting tool or any other weapon should 
                                    be brought to School. If a child deliberately 
                                    injures another and such injury requires 
                                    medical attention, the offending child’s parents 
                                    will be required to bear the medical expenses.
                                    

                                </p>
                            </li>
                            <li>
                                <p>No cutting tool or any other weapon should 
                                    be brought to School. If a child deliberately 
                                    injures another and such injury requires 
                                    medical attention, the offending child’s parents 
                                    will be required to bear the medical expenses.
                                    

                                </p>
                            </li>
                            <li>
                                <p>
                                    The School takes no responsibility for the loss of 
                                    any electronic device brought to the School by           
                                    students.

                                </p>
                            </li>
                        </ul>

                    </li>
                    <li class="mt-1"><p><strong>USE AND CARE OF PROPERTY</strong></p>
                        <p>If a child deliberately destroys the School 
                            property or the property of others, the 
                            parents <strong>MUST</strong> replace same.
                            </p>
                    </li>
                    <li class="mt-1">
                        <p><strong>P.T.A Meetings are held monthly, or as needed. </strong></p>
                    </li>
                </ol>
                
            </div>
         </section>
    </main>

<%- include ("_footer")%>