<%- include("_header");%>
<main class="container">
    <div class="content spacing-2">
        <section>
            <h1 class="text-center">Registration</h1>    
            <div class="row align-items-center">
                <p>Thank you for making the <em>Firstborn Early Childhood Development Center</em> your school of choice.</p>
                <p>
                    To ensure that the registration of your child/ ward procedes smoothly, we recommend that you take note of the following information listed below.
                </p>
            </div>        
            <div class="row">
                
                <p>Please note the following carefully for registration:</p>
                <ul type="square">
                    <li class="mt-1"><p>Parents are being asked to make a contribution of One Thousand Five Hundred Dollars <strong>($1500.00)</strong> toward the school’s development. This amount includes the child insurance and P.T.A fund (This amount is paid at the school upon registration) 
                    </p></li>
                    <p><strong>N.B REGISTRATION FEE IS NON-REFUNDABLE </strong></p>
                    <li class="mt-1">
                    
                        <p>In order to have your child fully registered, we require that along with the <a class="bold" title="Registration Form" href="/registration-form">registration form</a> , you drop off the following documents: </p>
                        <ul>
                            <li><p>Two passport size photograph</p></li>
                            <li><p>Child’s passport original and a photocopy</p></li>
                            <li><p>Child’s original Birth Certificated and a photocopy <strong>(NO SLIP FROM THE R.G.D WILL BE ACCEPTED.)</strong></p></li>
                        </ul>
                    </li>
                    <li class="mt-1">
                        <p>School year is sperated in three terms.</p>
                        <ul>
                            <li><p>Term 1 September to December</p></li>
                            <li><p>Term 2 January to March</p></li>
                            <li><p>Term 3 April to July</p></li>
                        </ul>
                        <p>School fees are charged per term, and the Bank vouchers should be presented on Orientation Day as an indication that the fee has been paid. </p>
                    </li>
                </ul>
                    
            </div>
        </div>

    </section>


</main>

<%-include("_footer");%>

