<footer>
    <div class="footer-grid">
        <div>
            <h6>Get to Know Us</h6>
            <ul>
                <li>
                    <a href="/privacy-policy">
                        <span>
                            <i class="fas fa-angle-right"></i>
                        </span>
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="/terms">
                        <span>
                            <i class="fas fa-angle-right"></i>
                        </span>
                        Terms of Service
                    </a>
                </li>
            </ul>
        </div>
        <div id="info">
            <h6>School Info</h6>
            <ul>
                <li>
                    <a href="/handbook">
                        <span>
                            <i class="fas fa-angle-right"></i>
                        </span>
                        Student Handbook
                    </a>
                </li>
                <li>
                    <a href="/register">
                        <span>
                            <i class="fas fa-angle-right"></i>
                        </span>
                        Registration
                    </a>
                </li>
                
            </ul>
        </div>
        <div>
            <h6>Contact Us</h6>
            <ul>
                <li>
                    <a href="/contact-us">
                        <span>
                            <i class="fas fa-angle-right"></i>
                        </span>
                            Contact Us <i class=" ml-1 far fa-envelope"></i>
                    </a>
                    <div class="mt-1">
                        <address>
                            Twickenham Park,
                            New Nursery,<br>
                            Spanish Town,
                            St. Catherine.<br>
                            Tel(876)790-5361
                        </address>
                    </div>  
                </li>
            </ul>  
        </div>
        <div>
            <h6>Other Links</h6>
            <ul>
                <li>
                    <a href="/admin">
                        <span>
                            <i class="fas fa-angle-right"></i>
                        </span>
                            Admin Page
                    </a>

                </li>
                <li>
                    <div>
                        <a href="www.facebook.com"><i class="fab fa-facebook fa-2x mt-1"></i><span class="ml-1">Social Links</span> </a>
                    </div>
                    
                </li>
            </ul>
            
           
            
            
        </div>

    </div>
    <div class="copyright">
        <p>
            &copy; Copyright <span id="year"></span> by the First&nbsp;Born&nbsp;ECDC. All Rights Reserved
        </p>
    </div>

    
</footer>
<script>
    let currentYear = new Date();
    let year = document.querySelector("#year");
    year.innerHTML = currentYear.getFullYear();

</script>
<%- include("_scripts");%>

</body>
</html>