<footer>
    <div class="footer-grid">
        <div>
            <h6>Get to Know Us</h6>
            <ul>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
            </ul>
        </div>
        <div id="info">
            <h6>School Info</h6>
            <ul>
                <li><a href="/handbook">Student Handbook</a></li>
                <li><a href="/register">Registration</a></li>
                
            </ul>
        </div>
        <div class>
            <h6>Contact Us</h6>
            <ul>
                <li>
                    <address>
                        Twickenham Park,<br>
                        New Nursery,<br>
                        Spanish Town,<br>
                        St. Catherine. <br>
                        Tel(876)790-5361
                    </address>
                    <a href="/contact-us">Contact Us<i class="far fa-envelope"></i></a>
                </li>
            
        </div>
    </div>

        <p class="text-small">
            &copy; Copyright 2020 of the First&nbsp;Born&nbsp;ECDC.
        </p>
    
</footer>
<%- include("_scripts");%>

</body>
</html>