<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="keywords" content="Firstborn Early childhood, FBECDC, Firstborn, Early Childhood, Early Childhood Jamaica ">
  <meta name="description" content="">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIRST BORN ECDC</title>

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

  <!-- Other Style sheets -->
  <link rel="stylesheet" href="/css/fullCalendar-main.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://kit.fontawesome.com/7c2ff4380c.js" crossorigin="anonymous"></script>


</head>

<body>
  <header>
    <nav>
      <ul role="navigation" class="nav">
        <li class="nav__item logo"> <a href="/"class="nav__link">First Born ECDC</a></li>
        <li class="nav__item right"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="activities" class="nav__link">Calendar</a></li>
        <li class="nav__item"><a href="about-us" class="nav__link">About</a></li>
        <li class="nav__item"><a href="contact-us" class="nav__link">Contact</a></li>
        <li class="nav__item right"><a href="register" class="nav__link btn btn--primary ">Enrol now</a></li>
      </ul>
    </nav>
  </header>
