<%-include("_header");%>
    <main class="container">
        <div class="content">
            <div class="row mt-3">
                <div class="col mb-2">
                    <h3>Who we are?</h3>
                    <p><strong><i>First Born Early Childhood Development Centre</i></strong> is an outreach programme of the First Born Sanctify Church of God. We seek to educate children, benefitting the New Nursery and Fisheries community for the past year. 
                        We welcome all children in the local community from every background. We believe that "<i>Every child can learn and every child must learn</i>”.
                        As educators of the First Born Early Childhood Development Centre we seek to discover new and innovative ways of reaching all the children who are placed in our care. 
                        We place great emphasis on facilitating and supporting  children’s learning and skill building in a safe and nurturing environment where all children can learn.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <h5>Our Mission</h5>
                    <p>To provide our students with quality education for a fuller life; by positively impacting the growth and development of our students, from ages three to six years.</p>
                </div>
                    
                <div class="col-12 mb-2">
                    <h5>Our Vision</h5>
                    <p>To be one of the most, efficient and effective school in the Early Childhood Sector; Providing and supporting students with the requisite skills, knowledge and attitude, in a safe and nurturing environment that will enable them to be productive citizens.</p>
                </div>
                <div class="col-12 mb-2">
                    <h5>Our Motto</h5>
                    <p>“AIM FOR EXCELLENCE”.</p>
                </div>
            </div>
        </div>
        
            
            
    </main>


<%-include("_footer");%>