<%- include("_header");%>
<main>
  <section class=" section hero">

  </section>
  <section class="section">
      <div class="content">
        <div class="">
          <div class="slide-right-anim">
            <p style="margin: 1rem 0 0 0 ;">Welcome to the</p>
            <h1 class="text-center">First Born Early Childhood Development Centre</h1>
            <p class="text-center"><i class="fas fa-info-circle"></i>With the announcement of COVID-19, and the challenges it bring, we have
              decided
              to
              implement a website to aid
              with registration and other school related processes.</p>
          </div>
        </div>

      </div>
  </section>

  <section class="section bg-violet">
    
    <div class="content">

      <article>
        <header>
          <h2 class="text-center">What can you expect from us.</h2>
        </header>
        <main class="offered">
          <div class="offers">
              <div class="offer__grid">
                <div class="offer__icon">
                  <i class="fa-solid fa-soccer-ball"></i>
                </div>
                <div class="offer__text">
                  <h3>Inter School Sports Day</h3>
                  <p>Students are given the opportunity to participate together in sporting events. </p>
                </div>
              </div>

              <div class="offer__grid">
                <div class="offer__icon">
                  <i class="fa-solid fa-soccer-ball"></i>
                </div>
                <div class="offer__text">
                  <h3>Friendly Environment</h3>
                  <p>Our teachers are trained to ensure that each student placed under our care is being properly supervised and participates in class activities.</p>
                </div>
              </div>
              <div class="offer__grid">
                <div class="offer__icon">
                  <i class="fa-solid fa-soccer-ball"></i>
                </div>
                <div class="offer__text">
                  <h3>Multimedia Classes</h3>
                  <p> we offer classes to students online, if they are unable to attend physical classes.</p>
                </div>
              </div>
          </div>
          <img src="../images/IMG-20190909-WA0006.jpg" alt="Image of student learning">

        </main>
        
      </article>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <article>
        <header>
          <h2>Classes we offer</h2>
        </header>
        <main class="classTypes">
          <div class="classCard">
            <div class="card__head">
              <img src="../images/thomas-park-w9i7wMaM3EE-unsplash.jpg" alt="This is an image of kindergardener in class">
            </div>
            <div class="card__body">
              <h4>Online Classes</h4>
              <p>These classes are aimed at students who are unable to attend classes physically. They have the opportunity to join class virtually.</p>
            </div>
          </div>
          <div class="classCard">
            <div class="card__head">
              <img src="../images/ismail-salad-osman-hajji-dirir-lXvMlLRhOi8-unsplash.jpg" alt="This is an image of a student reading or practicing to read. ">
            </div>
            <div class="card__body">
              <h4>Reading Classes</h4>
              <p>Aimed at students who want to have a head start in learning to read and write.</p>
            </div>
          </div>
          <div class="classCard">
            <div class="card__head">
              <img src="../images/santi-vedri-O5EMzfdxedg-unsplash.jpg" alt="This is an image of a student practicing with pen and paper">
            </div>
            <div class="card__body">
              <h4>Extra Classes</h4>
              <p>These classes are recommended to parents who think that their child/ward may need extra help in overcoming academic requirements. </p>
            </div>
          </div>
        </main>
        <footer>
          <p class="bold"><span>*</span> Due to the Covid pandemic all classes will be held online until we get further directives from the Ministry of Education.</p>
        </footer>
      </article>
    </div>
  </section>
  <section class="section bg-violet">
    <div class="content">
      <article>
        <header>
          <h2>Meet our Team</h2>
        </header>
        <main class="team-photos">
          <div class="circle-photo">
            <img src="../images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="This is an Image of one of the staff">
            <h4>Alice Mooreland</h4>
            <p>Teacher</p>
          </div>
          <div class="circle-photo">
            <img src="../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="This is an Image of one of the staff">
            <h4>Tiffany Brisset</h4>
            <p>Teacher</p>
          </div>
          <div class="circle-photo">
            <img src="../images/usman-yousaf-EH4i-6hxJag-unsplash.jpg" alt="This is an Image of one of the staff">
            <h4>Peter Griffin</h4>
            <p>Teacher</p>
          </div>
          <div class="circle-photo">
            <img src="../images/sigmund-jzz_3jWMzHA-unsplash.jpg" alt="This is an Image of one of the staff">
            <h4>Dianna Pearson</h4>
            <p>Teacher</p>
          </div>
        </main>
      </article>
    </div>

  </section>

</main>


<%- include("_footer");%>

</body>

</html>