
<%- include("_header")%>
<main class="container">

    <section>
        <div class="content">
          <h1 class="text-center">School Registration Form</h1>
          <p>Please fill out the form in its entirety and ensure that all the information is correct. Also remember to drop off all required documents by the date of registration. </p>
        </div>
    </section>
    <section>
      <div class="content">
          <form method="POST" name="childInfo" class="mt-1">
            <!-- Childs Information  -->
            <fieldset name="childInfo">
              <legend>Child Information</legend>
                <div class="form-row" > 
                    <label>
                      <span>
                        First Name
                      </span>
                      <input id="fname" type="text" class="form-control" placeholder="First name" name="firstName" required>
                    </label>
                  
                    
                    <label>
                      <span>Last Name</span>
                      <input id="fname" type="text" class="form-control" placeholder="Last name" name="lastName">
                    </label>
                    
                      <label>
                        <span>Middle Name</span>
                        <input id="mname" type="text" class="form-control" placeholder="Middle name" name="middleName">
                      </label>
                  
                </div>
                <div class="form-row">
                    <label>
                      <span>Date of Birth.</span>
                      <input type="date" name="DOB" class="form-control" required>
                    </label>
                    <div>
                      <p style="font-weight: 500">Gender</p>
                      <div class="form-row">
                        <label>
                          <input type="radio" id="female" name="gender" value="female">
                          <span>Female</span>
                        </label>
                        
                        <label>
                          <input type="radio" id="male" name="gender" value="male">
                          <span>Male</span>
                        </label>   
                      </div>
                           
                    </div>
        
                </div>
                <div class="form-group">                  
                  <label>
                    <span>Address line 1</span>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="addrLine1" required>
                  </label>      
                </div>
                <div class="form-group">
                  <label>
                    <span>Address line 2</span>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="addrLine2" required>
                  </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>City</span>
                        <input type="text" class="form-control" id="inputCity" name="city">
                    </label>
                    <label>
                        <span>Parish</span>
                        <input type="text" class="form-control" id="inputParish" name="parish">
                    </label> 
                </div>
          </fieldset>
          <!-- End Child's information -->
          <fieldset>
              <legend>Parent/Guardian's information</legend>

              <div class="form-row">
                    <label>
                      <span>Full Name: </span>
                      <input id="guardianName" type="text" class="form-control" placeholder="John Doe" required name="guardianName">
                    </label>
              </div>
             
              <div class="form-row">
                  
                  <label>
                    <span>Email</span>
                    <input id="guardianEmail" type="email" class="form-control" placeholder="example@example.com" name="guardianEmail">
                  </label>
              </div>
              <div class="form-row">
                  <label>
                    <span>Address</span>
                    <label for="addressCheck">
                      <input type="checkbox" value="Same as child" id="guardianAddress" onclick="checkAddress()">
                      <span>Same address as child</span>
                    </label>
                  </label>
              </div>
                  
              <div id="otherAddress">
                
                <div class="form-group">
                  <label>
                    <span>Address Line 1</span>
                    <input type="text" class="form-control" id="guardianAddressLine1" placeholder="1234 Main St" name="guardianAddressLine1">
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    <span>Address Line 2</span>
                    <input type="text" class="form-control" id="guardianAddressLine2" placeholder="Apartment, studio, or floor" name="guardianAddressLine2">
                  </label>
                </div>
    
                <div class="form-row">
                  <label> 
                    <span>City</span>
                    <input type="text" class="form-control" id="guardianAddressCity" name="guardianAddressCity">
                  </label> 
                  <label>
                      <span>Parish</span>
                      <input type="text" class="form-control" id="guardianAddressParish" name="guardianAddressParish">
                  </label>  
                  
                </div>
                <div class="form-row">
                    <label>
                      <span>Cellphone</span>
                      <input type="tel" class="form-control" id="guardianTel1" name="guardianTel1" placeholder="(555)555-5555" required>
                    </label>
                    

                  <div class="form-group col-md-3">
                      <label for="guardianTel2">
                        <span>Home Phone</span>
                        <input type="tel" class="form-control" id="guardianTel2" placeholder="(555)555-5555" name="guardianTel2">
                      </label>

                </div>
            </fieldset>
            <!-- Health information -->
            <fieldset class="ml-2">
                <legend>Health Information</legend>
                <div class="form-row">
                  <label>
                    <span>Physicians Name</span>
                    <input id="physicianName" type="text" class="form-control" placeholder="John Doe" required name="physician">
                  </label>
                </div>
                <div class="form-row">
                    <label>
                      <span>Physician Address</span>
                      <input id="physicianAddress" type="text" class="form-control" placeholder="Physicians Address" name="physicianAddress">
                    </label>
                </div>
                <div class="form-row">
                  <label>
                    <span>Health Centre</span>
                    <input id="physicianOffice" type="text" class="form-control" placeholder="Health Centre or Clinic" name="physicianOffice">
                  </label>
                </div>
                <div class="form-row">

                    <label>
                      <span>Telephone#</span>
                      <input type="tel" class="form-control" id="physicianTel" placeholder="(555)555-5555" name="physicianTel">
                    </label>
                    <label>
                      <span>Alergies</span>
                      <input type="text" class="form-control" id="alergies" placeholder="measels, chicken poxs," name="alergies"> 
                    </label>
                    
                    
                </div>
    
            </fieldset>
            <!-- Emergency contacts -->
            <fieldset class="">
                <legend>Emergency Contact</legend>
                <div class="form-row">
                  <div>
                    <div>
                      <p><strong>Contact 1</strong></p>
                    </div>
                    
                    <label>
                      <span>Full Name</span>
                      <input class="form-control" type="text" id="contact1Name" placeholder="Full name" name="contact1Name">
                    </label>
                    
                    <label>
                      <span>Relationship</span>
                      <input class="form-control" type="text" id="relationship1" name="contact1Relationship">
                    </label>
                    
                    <label>
                      <span>Address</span>
                      <input class="form-control" type="text" id="contact1Address" placeholder="Address" name="contact1Address">
                    </label>
                    
                    <label>
                      <span>Telephone#</span>
                      <input class="form-control" type="tel" id="contact1Tel" placeholder="(555)555-5555" name="contact1Tel">
                    </label>
                  </div>
                  <div>
                    <div>
                      <p><strong>Contact 2</strong></p>
                    </div>
                    
                    <label>
                      <span>Full Name</span>
                      <input class="form-control" type="text" id="contact2Name" placeholder="Full name" name="contact2Name">
                    </label>
                    
                    <label>
                      <span>Relationship</span>
                      <input class="form-control" type="text" id="relationship2" placeholder="" name="contact2Relationship">
                    </label>
                    
                    <label>
                      <span>Address</span>
                      <input class="form-control" type="text" id="contact2Address" placeholder="Address" name="contact2Address">
                    </label>
                    
                    <label>
                      <span>Telephone#</span>
                      <input class="form-control" type="tel" id="contact2Tel" placeholder="(555)555-5555" name="contact2Tel">
                    </label>
                  </div>
              </div>
            </fieldset>
            <!-- Declaration -->
            <fieldset class="mt-1">
              <p><strong>Declaration</strong></p>
              <label class="text-small flex-align-center" >
                  <input type="checkbox" id="agree" required>
                  <span>I agree that all the information entered above is correct to the best of my knowledge, and that any information that is falsely given may result in my child/ward being removed from this institution. </span> 
              </label>
            </fieldset>
            <div class="mt-1 text-center" style="margin: 2rem;">
              <button class="btn btn--primary" style="width: 300px;">Submit Form</button>
            </div>
                
        </form>
      </div>
    </section>
</main>
<%- include("_footer")%>