<%-include("_header");%>
    
    <main class="container ">

        
        <div class="row text-center mt-2 mb-2">
            <div class="col">
                <h2>Terms and Conditions </h2> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                Set out below are standard terms and conditions of your employment with the First Born Early Childhood Development Centre (FBECDC).
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <ol class="li-spacing">
                    <li>
                        <h6>MEDICAL SCREENING</h6>
                        <p>The appointment is conditional upon a satisfactory Medical Screening. Please complete the enclosed Medical Pre-Employment Questionnaire, and submit your Medical Fitness Certificate.</p>
                    </li>
                    <li>
                        <h6>PROOF OF QUALIFICATIONS</h6>
                        <p>The appointment is conditional upon provision by you of proof of your most advanced academic qualification. A photocopy of the relevant document(s) will normally be accepted as proof and should be sent to the chairman, First Born Early Childhood Development Centre Management Committee.</p>
                    </li>
                    <li>
                        <h6>REFERENCES</h6>
                        <p>The appointment is conditional upon receipt of two references, which are satisfactory to the school. Please supply us with the names and address of two referees whom we can contact.</p>
                    </li>
                    <li>
                        <h6>PROOF OF ELIGIBILITY</h6>
                        <p>The appointment is conditional upon provision by you of evidence of eligibility to work in Jamaica. We will therefore need a photocopy of relevant pages of your passport or your birth certificate.</p>
                    </li>
                    <li>
                        <h6>REMUNERATION</h6>
                        <p>You will be paid the agreed amount per month. This will be subjected to normal taxation and statutory deductions. Payment will be made on the 25th day of each month.</p>
                    </li>
                    <li>
                        <h6>REPORTING RESPONSIBILITY</h6>
                        <p>You will be responsible to the Management Committee, which will determine your duties</p>
                    </li>
                    <li>
                        <h6>DUTIES</h6>
                        <p>You will undertake teaching and related duties as detailed on the attached job description.</p>
                    </li>
                    <li>
                        <h6>REDEPLOYMENT</h6>
                        <p>If changed circumstances in the First Born Early Childhood Development Centre make it necessary, the School reserves the right to redeploy you elsewhere in a post of commensurate duties and responsibilities.</p> 
                    </li> 
                    <li>
                        <h6>PENSION</h6>
                        <p>There is no pension plan in place at the institution.</p>
                    </li>
                    <li>
                        <h6>YOUR NORMAL PLACE OF WORK</h6>
                        <p>Your normal place of work will be the work place stated on the attached instruction form, or at any other site designated by First Born Early Childhood Development Centre.</p>
                    </li>
                    <li>
                        <h6>NOTICE PERIOD</h6>
                        <p>The notice period attaching to this appointment is one month in writing on either side.</p>
                    </li>
                    <li>
                        <h6>VACATION LEAVE</h6>
                        <p>Two week of the period paid outside of the school term will be considered your vacation leave.</p>
                    </li>
                    <li>
                        <h6>SICK PAY</h6>
                        <p>Sickness- all absences must be notified to the principal immediately who must be kept informed of the progress of the illness and the likely date to return to work. Any application for sick leave for a period exceeding   a total of three consecutive school days must be supported by a medical certificate (NOTE: Day one to Day Seven of sickness includes working and non-working days i.e. Monday to Sunday.) failure to provide the appropriate written evidence of sickness means that you will not be paid.</p>
                        <p>Sick pay- if you are absent from duty owning to illness, you shall be entitled to payment on the following scale:</p>
                        <ul>
                            <li>
                                <p><strong>Scale of Allowance:</strong></p> 
                                <ul>
                                    <li><p>Exceeding Six Month’s – Five days with full pay and five days with half pay.</p></li>
                                    <li><p>Not less than Three Month’s Service; Five days with full pay</p></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h6>MATERNITY LEAVE</h6>
                        <p>Given as stipulated by the Jamaica Law.</p>
                    </li>
                    <li>
                        <h6>DISCIPLINARY AND GRIEVANCE PROCEDURES</h6>
                        <p>Disciplinary action will be taken against you for:</p>
                        <ul>
                            <li><p>Improper conduct while in school</p></li>
                            <li><p>Neglect of duty</p></li>
                            <li><p>Inefficiency </p></li>
                            <li><p>Irregular attendance</p></li>
                            <li><p>Persistence unpunctuality</p></li>
                            <li><p>Lack of discipline</p></li>
                            <li><p>Insubordination</p></li>
                            <li><p>Lack of discipline</p></li>
                            <li><p>Such other conduct as many amount to professional misconduct.</p></li>
                        </ul>
                    </li>
                    <li>
                        <h6>CONFIDENTIALITY</h6>
                        <p>You must not disclose to anyone else outside the school (or to any school employee who does not have a need to know) any confidential information about the school, which you have acquired during your employment. This duty continues to apply after your employment comes to an end. It is not limited in time but does not apply to information ordered by the court to be disclosed or otherwise required by law to be disclosed. Amongst other things, confidential information includes commercially sensitive information, lists of and details of customers, suppliers, agents and distributors, the working of computers system, pricing structures, advertising, financial and marketing information and business development plans and information. For the avoidance of doubt, any databases belonging to the school are considered confidential information for the purpose of this clause.</p>
                        <p>You must not make any copies of any documents or items that belong to the school or remove them from the school’s premises at any time without proper advanced authorisation. You must return property of whatever kind when requested to do so by the school and which belong to the school when you leave its employment.</p>
                    </li>
                </ol>
                 
                
            </div>
        </div>


    </main>



<%-include("_footer");%>