<div class="footer-container text-purple-50 flex flex-col">
    <div class="footer-top bg-purple-900">
        <div class="grid grid-cols-2 grid-rows-2 gap-4 px-4 pt-4">
            <div>
                <h3>Get to know Us</h3>
                <div class="footer__links flex flex-col">
                    <a href="" class="footer__link">Privacy Policy</a>
                    <a href="" class="footer__link">Terms of Service</a>
                    <a href="" class="footer__link">FAQ's</a>
                </div>
            </div>
            <div>
                <h3>School Info</h3>
                <div class="footer__links flex flex-col">
                    <a href="" class="footer__link">Student Handbook</a>
                    <a href="" class="footer__link">Registration</a>
                </div>
            </div>
            <div>
                <h3>Contact Us</h3>
                <div class="footer__links flex flex-col">
                    <a href="" class="footer__link">Contact Us </a>
                    <a href="" class="footer__link"></a>
                    <a href="" class="footer__link"></a>
                    <a href="" class="footer__link"></a>
                </div>
            </div>
            <div>
                <h3>Other Links</h3>
                <div class="footer__links flex flex-col">
                    <a href="#" class="footer__link">Admin Page</a>
                    <a href="#" class="footer__link">Social Links</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-base bg-darkPurple text-sm text-center p-4">
        <p> &copy; Copyright 2022 by the First Born ECDC. All Rights Reserved</p>
    </div>
</div>
