<section>
    <div class="hero-section">
        <img src="assets/banner 1.1.png" alt="Image of banner for homepage" class="">
    </div>
    <div class="body">
      <div class="contained-1440 min-h-[70vh] flex flex-col justify-center">
        <div class="intro text-center mt-8">
          <p class="font-thin text-lg">Welcome to </p>
          <h1 class="text-3xl mt-3 font-semibold text-purple-800">First Born Early Childhood Development Center</h1>
        </div>
        <div class="base-info text-center h-1/2 max-w-[800px]  text-lg py-4 text-black-200 font-thin mt-8 px-2 pb-20 mx-auto">
          <p>Educating children is our mission and YOU the parents are our customers. Our programs are designed to offer parents
            flexibility white maximizing the benefits to our students</p>
        </div>
      </div>
      <div class="wave-bg flex flex-col my-[100px] bg-purple-50">
        <div class="offers__body min-h-[400px] contained-1440 py-[5rem]">
          <h2 class="text-2xl text-center text-purple-800 font-semibold">What can you expect from us?</h2>
          <div class="flex flex-col gap-8 md:flex-row mt-10 px-4">
            <div class="offers flex flex-col gap-8">
              <div class="offers__grid flex gap-2">
                <div class="offer__icon text-purple-800 ">
                  <i class="fa-solid fa-soccer-ball"></i>
                </div>
                <div class="offer__text">
                  <h3 class="text-purple-800 font-semibold text-lg">Inter School Sports Day</h3>
                  <p class="">Students are given the opportunity to participate together in sporting events. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Debitis!</p>
                </div>
              </div>
              <div class="offer__grid flex gap-2 mt-4">
                <div class="offer__icon text-purple-800">
                  <i class="fa-solid fa-soccer-ball"></i>
                </div>
                <div class="offer__text">
                  <h3 class="text-purple-800 font-semibold text-lg">Friendly Environment</h3>
                  <p class="mt-2">Our teachers are trained to ensure that each student placed under our care is being properly
                    supervised and participates in class activities.</p>
                </div>
              </div>
              <div class="offer__grid flex gap-2 mt-4">
                <div class="offer__icon text-purple-800">
                  <i class="fa-solid fa-soccer-ball"></i>
                </div>
                <div class="offer__text">
                  <h3 class="text-purple-800 font-semibold text-lg">Multimedia Classes</h3>
                  <p class="mt-2"> we offer classes to students online, if they are unable to attend physical classes. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Cupiditate.</p>
                </div>
              </div>
            </div>
            <div class="img  rounded-lg overflow-hidden">
              <img class="md:object-cover md:object-center md:w-full md:h-full md:px-0" src="/assets/Background.jpg"
                alt="background-image of school">
            </div>
          </div>
        </div>
      </div>
      <div class="programs py-10 contained-1440 py-[5rem]">
        <h2 class="text-2xl text-center text-purple-800 font-semibold">Our Programs</h2>
        <div class="cards flex flex-col gap-10 px-4 items-center mt-8 md:flex-row md:items-stretch">
          <div class="card rounded-xl border-gray-300 border w-2/3 shadow-md flex flex-col">
            <img src="/assets/girlDoingOnlineClasses.jpg" alt="Image of a student doing online stuff"
              class="inline-block rounded-t-xl">
            <div class="card__body p-4 flex-grow">
              <p class="card__title text-md font-bold">Online Classes</p>
              <p class="font-thin">These classes are aimed at students who are unable to attend classes physically. They have
                the opportunity to join class virtually.</p>
            </div>
          </div>
          <div class="card rounded-xl border-gray-300 border w-2/3 shadow-md">
            <img src="/assets/boyDoingExtraStudies.jpg" alt="Image of a student doing extra lessons"
              class="inline-block rounded-t-xl">
            <div class="card__body p-4">
              <p class="card__title text-md font-bold">Extra Lessons</p>
              <p class="font-thin">Give your child the extra help they needs to excel in their studies.</p>
            </div>
          </div>
          <div class="card rounded-xl border-gray-300 border w-2/3 shadow-md">
            <img src="/assets/youthReadingBook.jpg" alt="Image of a student doing online stuff"
              class="inline-block rounded-t-xl">
            <div class="card__body p-4">
              <p class="card__title text-md font-bold">Reading Classes</p>
              <p class="font-thin">These classes are aimed at students who needs helps with reading.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="our-team wave-bg my-[100px] bg-purple-50 py-[5rem]">
        <h2 class="text-2xl text-center text-purple-800 font-semibold">Meet our Team</h2>
        <div class="mobile-carousel contained-1440">
          <div class="team-photos mt-10">
            <div class="circle-photo w-screen md:w-auto flex flex-col items-center ">
              <img src="/assets/teacher1.jpg" alt="This is an Image of one of the staff" class="md:w-[20vw] h-[20vw]">
              <h4 class="font-bold text-lg text-purple-800">Alice Mooreland</h4>
              <p>Teacher</p>
            </div>
            <div class="circle-photo w-screen md:w-auto flex flex-col items-center ">
              <img src="/assets/teacher3.jpg" alt="This is an Image of one of the staff" class="md:w-[20vw] h-[20vw]">
              <h4 class="font-bold text-lg text-purple-800">Tiffany Brisset</h4>
              <p>Teacher</p>
            </div>
            <div class="circle-photo w-screen md:w-auto flex flex-col items-center ">
              <img src="/assets/teacher2.jpg" alt="This is an Image of one of the staff" class="md:w-[20vw] h-[20vw]">
              <h4 class="font-bold text-lg text-purple-800">Peter Griffin</h4>
              <p>Teacher</p>
            </div>
            <div class="circle-photo w-screen md:w-auto flex flex-col items-center ">
              <img src="/assets/portraitLadyRedDress.jpg" alt="This is an Image of one of the staff"
                class="md:w-[20vw] h-[20vw]">
              <h4 class="font-bold text-lg text-purple-800">Dianna Pearson</h4>
              <p>Teacher</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</section>