<section class="p-4 contained-1440">
    <h1 class="text-purple-800 font-bold text-3xl text-center my-6 md:text-4xl ">School Registration Form</h1>
    <p class="font-thin text-grey-300 text-xl">NB. Please fill out the form in its entirety and ensure that all the information is correct. Also remember to drop off all  documents on or before the date of registration</p>
    <div class="mt-4 flex justify-end"><button class="btn text-purple-500">Print Form</button></div>

    <!-- Registration Form -->
    <form [formGroup] = "registrationForm" class="mt-8 registrationForm">
        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="registrationForm.get('childInfo')!">
                    <ng-template matStepLabel>Child Information</ng-template>
                            <fieldset formGroupName="childInfo">
                                <legend>Child Information</legend>
                                <div class="form-group grid grid-cols-2 gap-8">
                                    <div>
                                        <mat-form-field appearance="fill">
                                            <mat-label>First Name</mat-label>
                                            <input 
                                            matInput 
                                            placeholder="pat@example.com" formControlName="fname"
                                            required
                                            minlength="3" 
                                            >
                                            <mat-error *ngIf="registrationForm.get('childInfo')!.get('fname')!.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                            
                                    <div>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="Doe" formControlName="lname" required minlength="3">
                                            <mat-error *ngIf="registrationForm.get('childInfo')!.get('lname')!.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                            
                                    </div>
                                </div>
                                <div class="form-group grid grid-cols-2 gap-8">
                                    <div>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Middle Name</mat-label>
                                            <input matInput placeholder="laman" formControlName="mname" >
                                            
                                        </mat-form-field>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="text-[12px] flex gap-4 items-center gender-group">
                                            <p class=" text-grey-500 m-0">Gender</p>
                                            <mat-radio-group aria-label="Select a gender" class="gap-3 flex" formControlName="gender">
                                                <mat-radio-button value="Male">Male</mat-radio-button>
                                                <mat-radio-button value="Female">Female</mat-radio-button>
                                            </mat-radio-group>
                            
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Date of Birth</mat-label>
                                            <input matInput placeholder="pat@example.com" formControlName="dob"  type="date">
                                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                    <div class="stepper-buttons">
                        <button mat-raised-button mat-button matStepperNext class="btn--primary" type="button">Next</button>
                    </div>
            </mat-step>
            <mat-step [stepControl]="registrationForm.get('guardianInfo')!" label="Fill out your address">
                <ng-template matStepLabel>Guardian Information</ng-template>
                <fieldset formGroupName="guardianInfo">
                    <legend>Parent/ Guardian Information</legend>
                    <div class="form-group grid-cols-2 grid gap-8">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Parent Name</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="parent_name" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="parent_email" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="parent_addr_1" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="parent_addr_2" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                
                    </div>
                
                    <div class="form-group grid grid-cols-2 gap-8">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="parent_addr_city" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Parish</mat-label>
                                <mat-select formControlName="parent_addr_parish">
                                    <mat-option *ngFor="let parish of parishes" [value]="parish">
                                        {{parish}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group grid grid-cols-2 gap-8">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Cellphone (876-555-5555)</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="parent_tel" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Home Phone</mat-label>
                                <input matInput placeholder="pat@example.com"  >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </fieldset>
                <div class="stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button mat-raised-button matStepperNext class="btn--primary">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="registrationForm.get('healthInfo')!" label="Fill out your address">
                <ng-template matStepLabel>Health Information</ng-template>
                <fieldset formGroupName="healthInfo">
                    <legend>Health Information</legend>
                    <div class="form-group grid-cols-2 grid gap-8">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="physician_name" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="physician_email" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Physician's Office</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="physician_office" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="physician_address" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                
                    </div>
<!--                 
                    <div class="form-group grid grid-cols-2 gap-8">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="fname" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Parish</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let parish of parishes" [value]="parish">
                                        {{parish}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="form-group grid grid-cols-2 gap-8">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Cellphone (876-555-5555)</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="physician_tel" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                
                        <!-- <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Home Phone</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="fname" >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div> -->
                    </div>
                </fieldset>
                <div  class="stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button mat-raised-button matStepperNext class="btn--primary">Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                        <label class="flex gap-2 items-baseline">
                            <input type="checkbox" name="has;Agreed" [(ngModel)]="hasAgreed" [ngModelOptions]="{standalone: true}">
                            <span class="font-semibold">I agree that all the information above is correct to the best of my ability.</span>
                        </label>
                <div class="stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                    <button mat-button mat-raised-button type="submit" [disabled]="!hasAgreed" class="btn--primary">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
    <!-- Registration Form Ends -->

</section>