.registrationForm legend{
    @apply text-xl  font-semibold text-gray-700 my-2;
}

.registrationForm label{
    @apply text-gray-700 font-normal;
}
.registrationForm input[type="text"], input[type="date"], input[type="tel"],input[type="email"], .registrationForm select{
    @apply block  w-full text-xs text-gray-900 bg-transparent border-0 border-b-2 border-gray-100 appearance-none focus:outline-none focus:ring-0 focus:border-purple-300;
}
.registrationForm fieldset{
    @apply mt-8
}
.registrationForm .gender-group p{
    margin-bottom:0;
}
input:checked{
    background-color: purple;
    color: red;
}
.stepper-buttons{
    @apply mt-4;
}
.form-group > div {
    width: auto;
}
.form-group  mat-form-field{
    display:block;
}
.mat-form-field-infix{
    width: 100%;
}